<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Weather Conditions</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
    </head>
    <body>
		<img id = "cloud">
		<canvas id = "c"></canvas>
		<script src = "JavaScript/Check.js"></script>
		
		<div id = "bottons">
			<a class = "button" onclick = "onSun();">Bright day</a>
			<a class = "button" onclick = "onRain();">Rain day</a>
		</div>
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../YandexMetrika.js"></script>
</html>
