<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
		<title>Musical tiles</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <link rel = "stylesheet" href = "../../../CommonStyles/homeButton.css">
        <script src = "JavaScript/script.js"></script>
    </head>
    <body>
        <h1 id = "title">Musical tiles</h1>
        <div class = "tiles">
            <div class = "letter">Q</div>
        </div>
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
