<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
		<title>Musical tiles</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <link rel = "stylesheet" href = "../../../CommonStyles/homeButton.css">
        <script src = "JavaScript/script.js"></script>
    </head>
    <body>
        <h1 id = "title">Musical tiles</h1>
        <div id = "tiles">
            <div id = "firstLine">
                <div class = "pinky"            id = "`"         >`</div>
                <div class = "pinky"            id = "1"         >1</div>
                <div class = "ringFinger"       id = "2"         >2</div>
                <div class = "middleFinger"     id = "3"         >3</div>
                <div class = "leftIndexFinger"  id = "4"         >4</div>
                <div class = "leftIndexFinger"  id = "5"         >5</div>
                <div class = "rightIndexFinger" id = "6"         >6</div>
                <div class = "rightIndexFinger" id = "7"         >7</div>
                <div class = "middleFinger"     id = "8"         >8</div>
                <div class = "ringFinger"       id = "9"         >9</div>
                <div class = "pinky"            id = "0"         >0</div>
                <div class = "pinky"            id = "-"         >-</div>
                <div class = "pinky"            id = "="         >=</div>
                <div class = ""                 id = "backspace" >←</div>
            </div>

            <div id = "secondLine">
                <div class = ""                 id = "tab"       >Tab</div>
                <div class = "pinky"            id = "q"         >q</div>
                <div class = "ringFinger"       id = "w"         >w</div>
                <div class = "middleFinger"     id = "e"         >e</div>
                <div class = "leftIndexFinger"  id = "r"         >r</div>
                <div class = "leftIndexFinger"  id = "t"         >t</div>
                <div class = "rightIndexFinger" id = "y"         >y</div>
                <div class = "rightIndexFinger" id = "u"         >u</div>
                <div class = "middleFinger"     id = "i"         >i</div>
                <div class = "ringFinger"       id = "o"         >o</div>
                <div class = "pinky"            id = "p"         >p</div>
                <div class = "pinky"            id = "["         >[</div>
                <div class = "pinky"            id = "]"         >]</div>
                <div class = "pinky"            id = "\"         >\</div>
            </div>

            <div id = "thirdLine">
                <div class = ""                 id = "capsLock"  >Caps Lock</div>
                <div class = "pinky"            id = "a"         >a</div>
                <div class = "ringFinger"       id = "s"         >s</div>
                <div class = "middleFinger"     id = "d"         >d</div>
                <div class = "leftIndexFinger"  id = "f"         >f</div>
                <div class = "leftIndexFinger"  id = "g"         >g</div>
                <div class = "rightIndexFinger" id = "h"         >h</div>
                <div class = "rightIndexFinger" id = "j"         >j</div>
                <div class = "middleFinger"     id = "k"         >k</div>
                <div class = "ringFinger"       id = "l"         >l</div>
                <div class = "pinky"            id = ";"         >;</div>
                <div class = "pinky"            id = "'"         >'</div>
                <div class = ""                 id = "enter"     >Enter</div>
            </div>

            <div id = "fourthLine">
                <div class = ""                 id = "leftShift"  >Shift</div>
                <div class = "pinky"            id = "z"          >z</div>
                <div class = "ringFinger"       id = "x"          >x</div>
                <div class = "middleFinger"     id = "c"          >c</div>
                <div class = "leftIndexFinger"  id = "v"          >v</div>
                <div class = "leftIndexFinger"  id = "b"          >b</div>
                <div class = "rightIndexFinger" id = "n"          >n</div>
                <div class = "rightIndexFinger" id = "m"          >m</div>
                <div class = "middleFinger"     id = ","      >,</div>
                <div class = "ringFinger"       id = "."        >.</div>
                <div class = "pinky"            id = "/"      >/</div>
                <div class = ""                 id = "rightShift" >Shift</div>
            </div>
        </div>
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
