<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>The Moving Block</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <script src = "JavaScript/ChangeBlock.js"></script>
    </head>
    <body>
        <header>
            <p>
                <input id = "HPbutton" type = "button" value = "Up" onclick = "Up()">
                <input id = "HMbutton" type = "button" value = "Down" onclick = "Down()">
            </p>
            <p>
                <input id = "WPbutton" type = "button" value = "Left" onclick = "Left()">
                <input id = "WMbutton" type = "button" value = "Right" onclick = "Right()">
            </p>
        </header>
        <div id = "block"></div>
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../YandexMetrika.js"></script>
</html>


