<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>The colors of the day</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <script src = "JavaScript/time.js"></script>
    </head>
    <body id = "body">
		<div class = "time">
			<h1>The current Time:</h1>
				<div id = "hours"   class = "timer"></div> 
				<div id = "minutes" class = "timer"></div> 
				<div id = "seconds" class = "timer"></div> 
		</div>
		<div class = "color">
			<h1>The current Color:</h1>
				<div id = "ColorH" class = "timer"></div>
				<div id = "ColorM" class = "timer"></div> 
				<div id = "ColorS" class = "timer"></div>  
		</div>
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
