<html>
	<head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>The Arcanoid</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
		<script src = "JavaScript/init.js"></script>
		<script src = "JavaScript/block.js"></script>
		<script src = "JavaScript/ball.js"></script>
		<script src = "JavaScript/draw.js"></script>
		<script src = "JavaScript/requestAF.js"></script>
	</head>
	<body id = "body">
		<div id = "title"><p>The Arcanoid</p></div>
		<div id = "center">
			<canvas id = "game"></canvas>
			<script src = "JavaScript/game.js"></script>
		</div>
		<a href = "../../../index.html" class = "home">Home</a>
	</body>
</html>
