* {
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

body {
    background: black;
    padding: 20px;
}

#title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#center {
    width: 400px;
    margin: 30px auto;
}

#canvas {
    border: 1px solid white;
    width: 400px;
    height: 400px;
}

#center p {
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

#outPI span {
    color: white;
}

#outPI p {
    font-size: 18px;
    text-align: center;
}

#PI {
    word-wrap: break-word;
    width: 300px;
}

.home {
    top: 20px;
    right: 20px;
}

#buttons {
    width: 345px;
    margin: 0 auto;
}


#getChart,
#random {
    display: inline-block;
    position: static;
    margin: 14px;
}

#input {
    border: 1px solid white;
    background: black;
    color: white;
    padding: 10px;
    font-size: 20px;
    outline: none;
    margin: 20px 40px;
}

#input:hover {
    cursor: pointer;
}

#input:focus {
    border-color: red;
}

.home:hover {
    border-color: red;
    cursor: pointer;
}

.home:active {
    border-color: white;
    background: white;
    color: black;
}
