<html>
	<head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Division into syllables</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
		<script src = "JavaScript/Division.js"></script>
	</head>
	<body>
		<div id = "title">
			<p> Division into syllables</p>
		</div>
		
		<div id = "center">
			<p> Enter your word in the Russian language <br> and press Enter:</p>
			<input type = "text" placeholder = "Your word" id = "in" maxlength
= "20" onchange = "divisionIntoSyllables()">
			<p> Your word is divisen into syllables:</p>
			<p id = "out">квин-тэ-ссен-ци-я</p>
		</div>
		<a href = "../../../index.html" class = "home">Home</a>
	</body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
