<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
		<title>Modulation of the biological process</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <link rel = "stylesheet" href = "../../../CommonStyles/homeButton.css">
    </head>
    <body id = "body">
        <h1 id = "title">Modulation of the biological process</h1>
        <div id = "center">
            <canvas id = "canvas"></canvas>
        </div>

        <div id = "loadImages">
            <img src = "Images/grass1.jpg" id = "grass1">
            <img src = "Images/grass2.jpg" id = "grass2">
            <img src = "Images/tree1.jpg" id = "tree1">
            <img src = "Images/tree2.jpg" id = "tree2">
            <img src = "Images/volfM.png" id = "volfM">
            <img src = "Images/volfW.png" id = "volfW">
            <img src = "Images/rabbitM.png" id = "rabbitM">
            <img src = "Images/rabbitW.png" id = "rabbitW">
            <img src = "Images/inLove.png" id = "inLove">
            <img src = "Images/hungry.png" id = "hungry">
            <img src = "Images/death.png" id = "death">
        </div>
        <script src = "JavaScript/draw.js"></script>
        <script src = "JavaScript/rabbit.js"></script>
        <script src = "JavaScript/volf.js"></script>
        <script src = "JavaScript/script.js"></script>
        <script src = "JavaScript/init.js"></script>
        <script src = "JavaScript/ai.js"></script>

		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../YandexMetrika.js"></script>
</html>
