<html>
	<head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Generation of clever phrases</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
		<script src = "JavaScript/Division.js"></script>
	</head>
	<body>
		<div id = "title">
			<p>Generation of clever phrases</p>
		</div>
		
		<div id = "center">
			<a id = "generate" onclick = "generatePhrase()">Generate</a>
			<p id = "phrases"></p>
		</div>
		<a href = "../../../index.html" class = "home">Home</a>
	</body>
	<script src = "../../YandexMetrika.js"></script>
</html>
