body
{
	background: #a12813;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1
{
	text-align: center;
	color: white;
	font-family: "mv boli";
	font-size: 64px;
}

.home
{
	position: absolute;
	right: 2%;
	bottom: 2%;
	width: 100px;
	height: 25px;
	color: white;
    text-align: center;
    border: 1px solid white;
    font-size: 25px;
    transition-duration: 0.5s;
    padding: 10px 20px;
	text-decoration: none;
	background: #a12813;
	font-family: "Time New Roman";
}

.home:hover
{
    border-color: black;
	cursor: pointer;
}

.home:active
{
	background: black;
}

.info 
{
	position: absolute;
	bottom: 2%;
	left: 2%;
	font-size: 20px;
	color: white;
}

#bangImg
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -270px;
	margin-top: -390px;
	display: none;
}