<html>
	<head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Roguelike game(beta)</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
		<script src = "JavaScript/phaser.min.js"></script>
		<script src = "JavaScript/game.js"></script>
	</head>
	<body>
		<div id = "title">
			<p> Roguelike game(Beta)</p>
		</div>
		<div id = "info">
			<p>Number 3 is you and your hillpoints</p>
			<p>The letter 'e' are your enemies they have 1 hillpoint</p>
			<p>Your task is to kill all the enemies</p>
			<p>Use the arrow on the keyboard to control</p>
		</div>
		<a href = "../../../index.html" class = "home">Home</a>
	</body>
	<script src = "../../../YandexMetrika.js"></script>
</html>