<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Enter your phone number</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
    </head>
    <body onselectstart="return false">
		<div id = "center1">
			<span>Enter your phone number</span>
		</div>
		<div id = "center2">
			<span id = "number" onselectstart="return false"></span>
		</div>
		<p id = "info">Click where you want!!!</p>
		<script src = "JavaScript/Check.js"></script>
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
