<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Travel by color</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <script src = "JavaScript/Check.js"></script>
    </head>
    <body id = "body">
        <header>
			<div>
				<div class = "input">
					<h1>First value</h1>
					<input id = "input1" type = "text" placeholder = "#000000" onchange = "CheckInput(1)">
				</div>
				<div class = "input">
					<h1>Second value</h1>
					<input id = "input2" type = "text" placeholder = "#FFFFFF" onchange = "CheckInput(2)">
				</div>
			</div>
			<div class = "center">
				<input id = "input3" type = "button" value = "Travel" onclick = "TravelByColor()">
			</div>
        </header>
		
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
