<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
		<title>Find the number PI</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <link rel = "stylesheet" href = "../../../CommonStyles/homeButton.css">

    </head>
    <body>
        <h1 id = "title"> Find the number PI</h1>
        <div id = "center">
            <p>400px</p>
            <canvas id = "canvas"></canvas>
        </div>
        <div id = "buttons">
            <div>
                <input id = "input" type = "text" placeholder = "enter the number of points">
            </div>
            <div id = "outPI">
                <p><span> PI = </span><span id = "PI"></span></p>
            </div>
            <a id = "getChart" class = "home">get chart</a>
            <a id = "random" class = "home">random</a>
        </div>
        <script src = "JavaScript/script.js"></script>
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
