<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Russian roulette</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
		<script src = "JavaScript/Check.js"></script>
    </head>
    <body>
		<h1>Russian Roulette<h1>
		<img id = "gun" src = "Images/gun.jpg" onclick = "bang()">
		<img id = "bangImg" src = "Images/bang.png" onclick = "bang()">
		<p class = "info">Click the trigger of the gun!!!</p>
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
