<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Mini quiz</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <script src = "JavaScript/Check.js"></script>
    </head>
    <body id = "body">
        <div class = "center">
            <div class = "Question">Если бы осьминоги умели считать, то какой бы системой они скорее всего пользовались?  </div>
            <div class = "center2">
                <input id = "FirstQ1" type = "button" value = "Двоичной" onClick = "CheckAnswer(1, 1)">
                <input id = "SecondQ1" type = "button" value = "Восьмеричной" onClick = "CheckAnswer(1, 2)">
                <input id = "ThirdQ1" type = "button" value = "Десятичной" onClick = "CheckAnswer(1, 3)">
                <input id = "FourthQ1" type = "button" value = "Шестнадцатиричной" onClick = "CheckAnswer(1, 4)">
            </div>
            <hr>
            <div class = "Question">Какого числа выйдет обновление игры 21 очко?</div>
            <div class = "center2">
                <input id = "FirstQ2" type = "button" value = "17" onClick = "CheckAnswer(2, 1)">
                <input id = "SecondQ2" type = "button" value = "18" onClick = "CheckAnswer(2, 2)">
                <input id = "ThirdQ2" type = "button" value = "19" onClick = "CheckAnswer(2, 3)">
                <input id = "FourthQ2" type = "button" value = "20" onClick = "CheckAnswer(2, 4)">
            </div>
            <hr>
            <div class = "Question">1 + 1?</div>
            <div class = "center2">
                <input id = "FirstQ3" type = "button" value = "2" onClick = "CheckAnswer(3, 1)">
                <input id = "SecondQ3" type = "button" value = "3" onClick = "CheckAnswer(3, 2)">
                <input id = "ThirdQ3" type = "button" value = "5" onClick = "CheckAnswer(3, 3)">
                <input id = "FourthQ3" type = "button" value = "10" onClick = "CheckAnswer(3, 4)">
            </div>
            <hr>
            <div class = "Question">Вангуй!!! Идей нет(</div>
            <div class = "center2">
                <input id = "FirstQ4" type = "button" value = "Рандом 1" onClick = "CheckAnswer(4, 1)">
                <input id = "SecondQ4" type = "button" value = "Рандом 2" onClick = "CheckAnswer(4, 2)">
                <input id = "ThirdQ4" type = "button" value = "Рандом 3" onClick = "CheckAnswer(4, 3)">
                <input id = "FourthQ4" type = "button" value = "Рандом 4" onClick = "CheckAnswer(4, 4)">
            </div>
            <hr>
        </div>
		
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>
