<!DOCTYPE html>
<html>
    <head>
		<link rel = "short icon" href = "../../../Images/icon.ico" type="image/x-icon">
        <title>Piano roll</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "Style/Style.css">
        <script src = "JavaScript/check.js"></script>
    </head>
    <body>
		<div class = "inscription">
			<p> Piano roll </p>
		</div>
        <div class = "center">
            <div class = "bottom red"    onclick = "soundClick('red')"></div>
            <div class = "bottom orange" onclick = "soundClick('orange')"></div>
            <div class = "bottom yellow" onclick = "soundClick('yellow')"></div>
            <div class = "bottom green"  onclick = "soundClick('green')"></div>
            <div class = "bottom cyan"   onclick = "soundClick('cyan')"></div>
            <div class = "bottom blue"   onclick = "soundClick('blue')"></div>
        </div>
		
		<a href = "../../../index.html" class = "home">Home</a>
    </body>
	<script src = "../../../YandexMetrika.js"></script>
</html>