footer
{
	color: white;
	margin-top: 10px;
	margin-bottom: 0;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	font-family: "Open Sans Light";
}

footer:hover
{
	cursor: default;
}

footer #copyright
{
	margin-right: 20px;
}

footer #codeIsLife:hover b
{
	color: red;
}