footer
{
	color: white;
	margin-top: 10px;
	margin-bottom: 0;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	font-family: "Open Sans Light";
}

footer:hover
{
	cursor: default;
}

footer #copyright
{
	margin-right: 20px;
}

footer #codeIsLife:hover b
{
	color: red;
}

footer #github
{
	margin-left: 20px;
}

footer #github a
{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 800;
}

footer #github a:hover
{
	color: #8DE3E9;
}

footer #github img
{
	width: 25px;
	height: 25px;
	margin-left: 4px;
	vertical-align: -3px;
}
